.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.error {
    color: red;
    margin-bottom: 30px;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.result {
    margin-top: 15px;
}

.input-select {
    display: flex;
    flex-direction: row;
}

.input-error {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 30px;
}
